body {
  background-color: #b3ecff;
}

header {
  text-align: center;
  background-color: #e6ccff;
}

nav {
  text-align: center;
  background-color: #e6fff3;
}

img {
  margin-left: 5px;
  border: solid 8px darkgray;
  height: auto;
  width: 40%;
}


.turtle {
  display: none;
}

.snake {
  display: none;
}

.insect {
  display: none;
}
